.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.nav-log{
    text-align: left;

}
.nav-heading h1{
    text-align: right;
    padding-top: 30px;
}
.nev-menu {
    flex-direction: row;
    justify-content: flex-end;
   

}
.nev-menu a{
    padding:20px;
    padding-top: 30px;
    background-color: transparent;
}

/* nav-bar design ends here */
/* profile designed stars here */

.profile .top-weather-icon{
    right:100px;
    width: 120px;
    transition: width 2s, transform 2s ;
}
.profile .top-weather-icon:hover{
   width: 150px;
}

.profile .bottom-weather-icon{
    bottom: 20px;
    left:140px;
    width: 120px;
    transition: width 2s, transform 2s ;
}
.profile .bottom-weather-icon:hover{
   width: 150px;
}

.profile p{
    text-align:center;
    color:gray;
    width: 50%;
    margin: 0 auto 20px auto;
  }
/* profile designed ends here */

/* About-me design starts here */

.aboutme-img img{
   width: 260px;
   height:270px;
   margin-top: 80px;
}
.aboutme-img:hover{
    background-color:gray;
}
.contact_with_link{
    position: relative;
}
.media-botton{
    position:absolute;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top:150px;
   
}

/* About-me design ends here */


/* footer stats here */
.footer-menu{
    margin-top: 20px;
}
.footer-menu a{
    display: inline;
    margin: 10px;
}

/* footer ends here */